@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
    margin: 0 auto;
    font-family: Helvetica;
}

.page {
    position: relative;
    height: 100vh;
}

/* -------------------------- Navigation Bar ------------------------------ */
/* ------------------------------------------------------------------------ */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 3em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-title {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    font-weight: 300;
    font-family: roboto;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar li {
    display: inline;
    list-style-type: none;
}
.nav-button {
    margin-right: 3em;
    font-size: 1.2em;

}
.nav-text {
    text-decoration: none;
    font-weight: 300;
    font-family: roboto;
    color: #677282;
}


/* -------------------------- Splash Page --------------------------------- */
/* ------------------------------------------------------------------------ */

.main-text-title{
    position: absolute;
    left: 6%;
    top: 8%;
    width: 10em;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.main-displaybox {
    position: absolute;
    top: 36%;
    left: 6%;
    width: 32%;
    height: 50%;
    border-radius: .4em;
    background-color: white;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.main-displaybox-header-text {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 18px;
    font-family: roboto;
    font-weight: 400;
}

.main-displaybox-body-text {
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.blog-list {
    padding: 0; 
    list-style-type: none;
    font-size: 14px;
}

hr {
    display: block;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.main-gradient {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.main-artwork {
    position: relative;
    z-index: -1;
    margin-left: 80em;
    bottom: -10em;
    background-color: none;
    width: 56em;
}

.shadow {
    -moz-box-shadow: 0 0 3px 1px #888;
    -webkit-box-shadow: 0 0 3px 1px #888;
    box-shadow:	0 0 3px 1px #888;
}

.projects-title {
    left: 50%;
    margin-top: 4em;
    margin-bottom: 2em;
    height: 4em;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.projects-title-large {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: roboto;
    font-size: 40px;
    font-weight: 300;
}

.projectsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.project {
    height: 40.5em;
    width: 26em;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#color1 {
    background-image: linear-gradient(-90deg,#5a40d8,#d84add);
}
#color2 {
    background-image: linear-gradient(-90deg,#4064d8,#4ad8dd);
}
#color3 {
    background-image: linear-gradient(-90deg,#0da382,#67e44e);
}
.project-title {
    height: 8em;
    width: 95%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title p {
    font-family: roboto;
    font-size: 40px;
    font-weight: 400;  
}

.project-description {
    margin: 0 auto;
    margin-top: 1em;
    width: 95%;
    height: 31em;
    background-color: black; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-image {
    width: 9em;
    height: 23.5em;
    display: block;
}
.project-logo {
    height: 90%;
}
.project-logo-extruder {
    height: 79%;
}

/* --------------------- Particle.js Styling ------------------------------ */
/* ------------------------------------------------------------------------ */

#particles-js {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



/* --------------------- Smaller Browser Screen --------------------------- */
/* ------------------------------------------------------------------------ */

@media only screen and (max-width: 1400px) {
    .projectsWrapper {
        top: 0;
        height: 140em;
        flex-direction: column;
    }
}


/* ----------------------- Mobile Screen ---------------------------------- */
/* ------------------------------------------------------------------------ */
@media only screen and (max-device-width: 600px) {
    /* Remove the gradient */ 
    .main-gradient {
        display: none;
    }
    .main-particles {
    }
    .main-displaybox {
        margin: 0;
        top: 24%;
        height: 70%;
        border-radius: 2em;
    }
    .main-displaybox-header-text {
        font-size: 4em;
    }
    .blog-list {
        font-size: 3em;
    }
    .main-text-title {
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
        background-image: linear-gradient(rgba(33, 126, 189, 1),
                                          rgba(174, 50, 224, .4),
                                          rgba(255, 255, 255, 0));
        color: white;
        display: flex;
        justify-content: center;
        font-size: 0em;
    }
    .main-displaybox {
        width: 82%;
    }
    .navbar {
        height: 8%;
        width: 100%;
    }
    .nav-title {
        display: none;
    }
    .navbar li {
        margin: .35em;
    }
    .nav-button {
        font-size: 3.4em;
    }
    .projectsWrapper {
        flex-direction: column;
        height: 300em;
    }
    .project {
        width: 80%;
        height: 90em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .project-title {
        height: 12%;
        width: 95%;
    }
    .project-title p {
        font-family: roboto;
        font-size: 3em;
        font-weight: 400;  
    }
    .project-description {
        height: 80%;
    }
    .project-logo-extruder {
        width: 90%;
    }
}
