body {
    margin: 0 auto;
    font-family: Helvetica;
}

.page {
    position: relative;
    height: 100vh;
}

/* -------------------------- Navigation Bar ------------------------------ */
/* ------------------------------------------------------------------------ */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 3em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-title {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    font-weight: 300;
    font-family: roboto;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar li {
    display: inline;
    list-style-type: none;
}
.nav-button {
    margin-right: 3em;
    font-size: 1.2em;

}
.nav-text {
    text-decoration: none;
    font-weight: 300;
    font-family: roboto;
    color: #677282;
}


/* -------------------------- Splash Page --------------------------------- */
/* ------------------------------------------------------------------------ */

.main-text-title{
    position: absolute;
    left: 6%;
    top: 8%;
    width: 10em;
    font-family: roboto;
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.main-displaybox {
    position: absolute;
    top: 27em;
    left: 6%;
    width: 32%;
    height: 23em;
    border-radius: 1em;
    background-color: white;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.main-displaybox-header-text {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 30px;
    font-family: roboto;
    font-weight: 400;
}

.main-displaybox-body-text {
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.blog-list {
    font-size: 18px;
}

.main-displaybox-project-box {
    width: 30%;
    height: 40%;
    border-radius: .3em;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-displaybox-project-box:hover {
    opacity: .9;
    cursor: pointer;
}

.displaybox2 {
    display: none;
    opacity: 0;
    position: absolute;
    right: 8%;
    top: 30%;
    width: 45em;
    height: 45em;
    background-color: white;
    transition: all .1s ease;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    -webkit-animation:spin 100s linear infinite;
    -moz-animation:spin 100s linear infinite;
    animation:spin 100s linear infinite;
}

.displaybox2 p {
    font-size: 12px;
    font-family: roboto;
}

@-moz-keyframes spin { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

hr {
    display: block;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.main-gradient {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.main-artwork {
    position: relative;
    z-index: -1;
    margin-left: 80em;
    bottom: -10em;
    background-color: none;
    width: 56em;
}

.shadow {
    -moz-box-shadow: 0 0 3px 1px #888;
    -webkit-box-shadow: 0 0 3px 1px #888;
    box-shadow:	0 0 3px 1px #888;
}

.projects-title {
    left: 50%;
    margin-top: 8em;
    height: 4em;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.projects-title-large {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: roboto;
    font-size: 40px;
    font-weight: 300;
}
.projects-title-small {
    margin: 0;
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
}

.projectsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#project1 {
    margin: 5em;
    height: 40.5em;
    width: 30em;
    background-image: linear-gradient(-90deg,#5a40d8,#d84add);
    border-radius: 1em;
	padding: 1em;

}
#project2 {
    margin: 5em;
    height: 40.5em;
    width: 30em;
    background-image: linear-gradient(-90deg,#4064d8,#4ad8dd);
    border-radius: 1em;
    padding: 1em;
}
#project3 {
    margin: 5em;
    height: 40.5em;
    width: 30em;
     background-image: linear-gradient(-90deg,#0da382,#67e44e);
    border-radius: 1em;
    padding: 1em;
}
.project-title {
    margin: 0 auto;
    height: 8em;
    width: 95%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title p {
    font-family: roboto;
    font-size: 40px;
    font-weight: 400;
    
}
.project-description {
    margin: 0 auto;
    margin-top: 1em;
    width: 95%;
    height: 31em;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-image {
    width: 9em;
    height: 23.5em;
    display: block;
}
.project-logo {
    height: 90%;
}

.project-logo-extruder {
    height: 84%;
}

/* --------------------- Particle.js Styling ------------------------------ */
/* ------------------------------------------------------------------------ */

#particles-js {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ----------------------- Mobile Styling --------------------------------- */
/* ------------------------------------------------------------------------ */
@media only screen and (max-device-width: 600px) {
    /* Remove the gradient */ 
    .main-gradient {
        display: none;
    }
    .main-particles {
    }
    .main-displaybox {
        margin-top: 1em;
        height: 60%;
    }
    .main-text-title {
        margin-top: 3%;
        padding-top: 10%;
        left: 0;
        width: 100%;
        height: 95%;
        background-image: linear-gradient(rgba(33, 126, 189, 1),
                                          rgba(174, 50, 224, .4),
                                          rgba(255, 255, 255, 0));
        color: white;
        display: flex;
        justify-content: center;

        font-size: 2.2em;
    }

    .main-displaybox {
        width: 82%;
    }

    .navbar {
        height: 10%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-title {
        margin-top: .8em;
        font-size: 2em;
    }
    .navbar ul {
        margin-left: 3.8em;
    }
    .navbar li {
    }
    .nav-button {
        font-size: 2.2em;
    }

    .projectsWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
