.container {
	width: 100%;
	background-color: white;
	display: flex;
}

.left-margin {
	/*width: 26%;*/
	/*background-color: black*/
}

.right-margin {
	/*width: 26%;*/
	/*background-color: black*/
}

.main {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	margin-top: 3.8em;

	position: relative;
}

.picContainer {
	position: relative;
	left: 0;
	top: 0;
	width: 98%;
	justify-content: center;
	align-items: center;

}

.picContainer img {
	border-radius: .4em;
	width: 100%;

}

.bioContainer {
	position: relative;
	top: 0;
	width: 98%;
	text-align: left;
}

@media (max-width: 50em) {
	.picContainer {
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
	}
	.bioContainer {
		width: 92%;
		padding-left: 4%;
		padding-right: 4%;
	}
}