.navbar {
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 1;
	height: 3em;
	width: 100%;
	background-color: #202322;
	color: black;

	display: flex;
	flex-direction: row;
}

.navbar .navbar-left {
	left: 0;
	width: 25%;
	display: flex;
	margin-left: 1%;
	align-items: center;
}

.navbar .navbar-center {
	margin-left: 0;
	margin-right: 0;
	width: 83%;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: space-between;*/
}

.navbar-title {
	color: #61dafb;
	font-weight: 300;
	font-size: 1.8em;
	/*background-color: blue;*/
}

.navbar-button {
	color: white;
	margin-right: 2em;
	font-weight: 300;
	font-size: 1.8em;
	/*background-color: red;*/
}

@media (max-width: 50em) {
	.navbar .navbar-left {
		left: 0;
		width: 0%;
		align-items: center;
	}

	.navbar .navbar-center{
		width: 100%;
		justify-content: space-between;
		margin-right: 10%;
		margin-left: 10%;
	}
	.navbar-title {
		font-size: 0em;
	}

	.navbar-button {
		font-size: 1.6em;
		margin-right: 0em;
	}

  .navbar-button {
		/*font-size: 1.4em; */
  }
}