.container {
	width: 100%;
	background-color: white;
	display: flex;
}

.left-margin {
	/*width: 26%;*/
	/*background-color: black*/
}

.right-margin {
	/*width: 26%;*/
	/*background-color: black*/
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 55em;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
	margin-top: 3.8em;

	position: relative;
}

img {
	width: 100%;

}